.footer__links-element {
  color: white;
  margin-right: 18px;
}


.footer__links-element:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 586px) {
  .footer__links-element {
    margin-bottom: 32px;
    margin-right: 0;
  }
  .footer__links-element:last-of-type {
    margin-bottom: 0;
  }
}
