.lead__title {
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-rendering: optimizeLegibility;
  max-height: 200px;
}

@media screen and (max-width: 586px){
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    margin-bottom: 16px;
  }
}

