.cover {
  position: relative;
  min-height: 740px;
  margin: 0 0 92px;
  background-image: url(../../images/__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: .3;
  z-index: -1;
  transition: opacity .3s ease-in-out;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1140px) {
  .cover {
    min-height: 640px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 984px) {
  .cover {
    min-height: 480px;
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 586px) {
  .cover {
    margin: 0 0 64px;
    min-height: 200px;
  }
}







