.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration: underline;
  color: #ffff;
  width: max-content;
  margin-top: 12px;
  /* identical to box height, or 122% */
}


.place__link:hover {
  opacity: 0.8;
}
