.lead__caption {
  margin: 0;
  margin-top: 8px;
  align-self: baseline;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 1140px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 986px) {
  .lead__caption {
    margin-left: 16px;
  }
}
