.intro {
  margin: 0px 100px;
  max-width: 690px;

}

@media screen and (max-width: 1140px) {
  .intro {
    margin: 0 48px;
  }
}

@media screen and (max-width: 986px) {
  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 586px) {
  .intro {
    margin: 0 16px;
  }
}
